parameters:
	tmpDir: %currentWorkingDirectory%/temp/phpstan/
	scanDirectories:
		- %currentWorkingDirectory%/vendor/

	paths:
		- %currentWorkingDirectory%/src/


	excludePaths:

	level: 7

	reportUnmatchedIgnoredErrors: true # default, but to turn it off when needed
#	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		# Specific error messages
